[Unit]
Description=OTA Update Daemon
After=staging.mount network-setup.service
Wants=network-online.target
Requires=staging.mount
Requires=network-setup.service

[Service]
Type=simple
Environment=VSOMEIP_APPLICATION_NAME=ota_daemon
Environment=VSOMEIP_CONFIGURATION=/etc/ota/client.json

ExecStart=/usr/bin/ota_daemon /etc/ota/config.json

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target