[submodule "poky"]
	path = poky
	url = git@github.com:yoctoproject/poky.git
	branch = scarthgap
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = git@github.com:agherzan/meta-raspberrypi.git
	branch = scarthgap
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git@github.com:openembedded/meta-openembedded.git
	branch = scarthgap
[submodule "meta-qt6"]
	path = meta-qt6
	url = https://code.qt.io/yocto/meta-qt6.git
	branch = lts-6.8
[submodule "meta-tensorflow"]
	path = meta-tensorflow
	url = https://git.yoctoproject.org/meta-tensorflow
	branch = scarthgap
[submodule "meta-rauc"]
	path = meta-rauc
	url = git@github.com:rauc/meta-rauc.git
	branch = scarthgap
[submodule "meta-lts-mixins-u-boot"]
	path = meta-lts-mixins-u-boot
	url = https://git.yoctoproject.org/meta-lts-mixins
	branch = scarthgap/u-boot
[submodule "meta-qnx"]
	path = meta-qnx
	url = https://github.com/maxmaster55/meta-qnx.git
[submodule "meta-qnx-hyp"]
	path = meta-qnx-hyp
	url = git@github.com:maxmaster55/meta-qnx-hyp.git
	branch = main
[submodule "meta-qnx-guest"]
	path = meta-qnx-guest
	url = git@github.com:maxmaster55/meta-qnx-guest.git
	branch = main
