[Unit]
Description=Static Network Setup for eth0
After=network.target
Before=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/ip link set eth0 up
ExecStart=/sbin/ip addr add 192.168.2.2/16 dev eth0
ExecStart=/sbin/ip link set eth0 multicast on
ExecStart=/bin/route add -nv  224.244.224.245 dev eth0

[Install]
WantedBy=multi-user.target
